{% extends 'products/base-template.html' %}

{% block content %}
<p>{{order.id}}</p>
<p>{{order.created}}</p>
<p>${{ order.get_totals| floatformat:2 }}</p>
{% for item in order.orderitems.all %}
    <p>{{item.item.title}}     x{{item.quantity}}     {{item.get_total}}</p>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Billing Details</legend>
        {{ form }}
    </fieldset>
    <div>
        <button type="submit">Confirm</button>
    </div>
</form>
{% endblock %}