{% extends "products/base-template.html" %}

{% block content %}
    <article class="media content-section">
        <div style="margin-right: 20px;">
            <img style="width: 400px; height: auto;" src="{{ object.image.url }}" alt="Product Image">
        </div>
        <div>
            <h2>{{ object.title }}</h2>
            <h3 style="color: blueviolet;">${{ object.price }}</h3>
            <p> Remaining Stock:    {{ object.stock }}</p>
            <p><strong>Description :</strong><br>{{ object.description }}</p>
            <p><strong>Type :</strong>   {{ object.type}}</p>
            <p><strong>Manufacturer :</strong>   {{ object.manufacturer}}</p>
            <div>
                <div>
                    <a class="btn btn-success mt-1 mb-1" href="">Add to Cart</a>
                </div>
            </div>
        </div>
    </article>
{% endblock content %}
