{% extends "products/base-template.html" %}
{% load static %}
{% block content %}
  {% for product in products %}
    <a href="{% url 'product-details' product.id %}" class="product-a">
      <div class="product col span-1-of-5">
        <div class="product-img">
          <img src="{{product.image.url}}" alt="">
        </div>
        <div class="product-details">
          <p>{{ product.title }}</p>
          <p>${{product.price}}</p>
          <a href="cart/{{ product.id }}">Add to Cart</a>
                    <a href="remove/{{ product.id }}">Remove from Cart</a>
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
